<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head th:insert="layouts/head">
</head>
<body>
<header th:insert="layouts/header"></header>

<div class="container">
    <form th:action="@{/pelicula}" th:object="${pelicula}" method="post" class="col-md-6 offset-md-2">
        <h2 th:text="${titulo}" class="py-4"></h2>
        <div class="row mb-3">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
               <!-- <div class="invalid-feed" th:if="${#fields.hasError('nombre')}" th:errors="*{nombre}"></div> -->
            </div>
        </div>

        <div class="row mb-3">
            <label for="fecha_estreno" class="col-sm-2 col-form-label">Fecha de Estreno</label>
            <div class="col-sm-8 py-3">
                <input type="date" class="form-control" id="fecha_estreno" th:field="*{fechaEstreno}">
                <!-- <div class="invalid-feed" th:if="${#fields.hasError('fechaEstreno')}" th:errors="*{fechaEstreno}"></div> -->
            </div>
        </div>

        <div class="row mb-3">
            <label for="genero" class="col-sm-2 col-form-label">Genero</label>
            <div class="col-sm-8">
                <select class="form-select" id="genero">
                    <option th:each="genero : ${generos}" th:text="${genero.nombre}" th:value="${genero.id}"
                            th:field="*{genero}">
                    </option>
                </select>
              <!--  <div class="invalid-feed" th:if="${#fields.hasError('genero')}" th:errors="*{genero}"></div> -->
            </div>
        </div>

        <div class="row mb-3">
            <label for="protagonistas" class="col-sm-2 col-form-label">Actor</label>
            <div class="col-sm-8">
                <select class="form-select" th:fields="*{protagonistas}" onchange="actorSelected(this)" id="protagonistas">
                    <option th:text="'Seleccionar Actor'" th:value="0"></option>
                    <option th:each="actor : ${actores}" th:text="${actor.nombre}" th:value="${actor.id}"
                            th:data-url="${actor.urlImagen}">
                    </option>
                </select>
               <!-- <div class="invalid-feed" th:if="${#fields.hasError('protagonistas')}" th:errors="*{actor}"></div> -->
            </div>
        </div>
        <input id="ids" name="ids" type="text">
        <div id="protagonistas_container">

        </div>
        <button type="submit" class="btn btn-dark float-end">Guardar</button>
    </form>
</div>

</body>
</html>